# VLC
/vlc/

# Android .so
/android-libs/*.so

# Local configuration
local.properties
env.sh

# OS specific
.DS_Store
.directory
*~
.*.swp
Thumbs.db

# Signage keys
*.keystore

# Eclipse
#.classpath
#.project
java-libs/appcompat/.classpath
java-libs/appcompat/.project

# Android Studio
.idea

#gradle
gradle.properties
gradlew.bat
.gradle/
build/
vlc-android/build/
java-libs/WheelView/build/
