# VLC

/libvlcjni
/vlc/
/toolchains/
application/app/src/main/assets/

#medialibrary
medialibrary/medialibrary
medialibrary/sqlite*
medialibrary/libvlcpp
medialibrary/build
medialibrary/jni/obj
medialibrary/jni/libs
medialibrary/.libs
medialibrary/prefix

# Android .so
/android-libs/**/*.so
.modules/

# tmp dir used by gdb.sh
.gdb
# debug symbols
.dbg

# Local configuration
local.properties
env.sh

# OS specific
.DS_Store
.directory
*~
.*.swp
Thumbs.db

# Signage keys
*.keystore

# Eclipse
#.classpath
#.project
java-libs/appcompat/.classpath
java-libs/appcompat/.project

# Android Studio
.idea
*.iml
captures/

#Qt Creator
*.config
*.creator
*.creator.user
*.files
*.includes

#gradle
gradlew.bat
gradlew
gradle*/
.gradle/
build/
vlc-android/build/
java-libs/WheelView/build/
libVLC/build/

#medialibrary build
libvlc.pc
libvlc.pc.backup
libvlcpp.pc
lib/
/buildsystem/automation/certificates/
