# Bad emails and names
Marián Hikaník <mhikanik@users.sourceforge.net>
Marián Hikaník <mhikanik@users.sourceforge.net> Marian Hikanik <podnety@mojepreklady.net>
<mhikanik@users.sourceforge.net> <podnety@mojepreklady.net>
#
# Preferred emails
<etix@videolan.org> <etix@l0cal.com>
<funman@videolan.org> <rafael.carre@gmail.com>
<funman@videolan.org> <rafael.carre@savoirfairelinux.com>
<hugo@beauzee.fr> <beauze.h@gmail.com>
<hugo@beauzee.fr> <hugo@videolan.org>
<nicolas@videolabs.io> <nicolas.pomepuy@gmail.com>
<geoffrey.metais@gmail.com> <geoffrey@videolan.org>
<thomas@gllm.fr> <tom@gllm.fr>
<rom1v@videolabs.io> <rom@rom1v.com>
