# Bad emails and names
Marián Hikaník <mhikanik@users.sourceforge.net>
Marián Hikaník <mhikanik@users.sourceforge.net> Marian Hikanik <podnety@mojepreklady.net>
<mhikanik@users.sourceforge.net> <podnety@mojepreklady.net>
#
# Preferred emails
<etix@videolan.org> <etix@l0cal.com>
<funman@videolan.org> <rafael.carre@gmail.com>
<funman@videolan.org> <rafael.carre@savoirfairelinux.com>
