<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.videolan.vlc"
    android:installLocation="auto"
    android:versionCode="4"
    android:versionName="0.0.4" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name="org.videolan.vlc.VLCApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:logo="@drawable/header_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.VLC"
        android:hardwareAccelerated="true" >
        <activity
            android:name=".gui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/Theme.VLC" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.CompatErrorActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".gui.AboutActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.PreferencesActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.BrowserActivity"
            android:label="@string/mediafiles"
            android:theme="@android:style/Theme" />
        <activity
            android:name=".gui.video.VideoActivityGroup"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.video.VideoListFragment"
            android:theme="@style/Theme.VLC"/>
        <activity
            android:name=".gui.video.MediaInfoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" android:mimeType="video/*" />
                <data android:scheme="http" android:mimeType="audio/*" />
                <data android:scheme="https" android:mimeType="video/*" />
                <data android:scheme="https" android:mimeType="audio/*" />
                <data android:scheme="file" android:mimeType="video/*" />
                <data android:scheme="file" android:mimeType="audio/*" />
                <data android:scheme="udp" android:mimeType="video/*" />
                <data android:scheme="udp" android:mimeType="audio/*" />
                <data android:scheme="ftp" android:mimeType="video/*" />
                <data android:scheme="ftp" android:mimeType="audio/*" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="rtp" />
                <data android:scheme="mms" />
                <data android:scheme="mmsh" />
                <data android:scheme="icyx" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.audio.AudioBrowserFragment"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.audio.AudioListFragment"
            android:theme="@style/Theme.VLC"  />
        <activity
            android:name=".gui.audio.AudioActivityGroup"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".gui.audio.AudioPlayerActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service android:name=".AudioService" />

        <receiver
            android:name="PhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.VLCAppWidgetProvider"
            android:label="VLC mini player"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/vlcwidget" />
        </receiver>
        <receiver android:name="RemoteControlClientReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
