<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.videolan.vlc">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Needed for audio search on TV -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />

    <application
        android:name="org.videolan.vlc.VLCApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo_w"
        tools:replace="android:theme"
        android:theme="@style/Theme.Leanback" >
        <activity
            android:name=".gui.MainActivity"
            tools:node="replace"
            android:enabled="false"/>
        <activity
            android:name="org.videolan.vlc.gui.tv.MainTvActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback" >
            <intent-filter android:priority="5" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.videolan.vlc.gui.tv.DetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback" />
        <activity
            android:name=".gui.tv.browser.VerticalGridActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback" />
        <activity
            android:name="org.videolan.vlc.gui.tv.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback" />
        <activity
            android:name="org.videolan.vlc.gui.tv.audioplayer.AudioPlayerActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Leanback" />

        <service
            android:name="org.videolan.vlc.gui.tv.RecommendationsService"
            android:exported="false" >
        </service>

        <receiver
            android:name="org.videolan.vlc.gui.tv.BootupReceiver"
            android:enabled="true"
            android:exported="true" >
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
          </intent-filter>
        </receiver>
        <receiver android:name=".RemoteControlClientReceiver"
            tools:node="replace"
            android:enabled="false"/>
    </application>

</manifest>
