<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.videolan.vlc">

    <uses-sdk
        android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.READ_LOGS"
        android:maxSdkVersion="18" /> <!-- android:maxSdkVersion="15" -->

    <!-- vibration on audioplayer buttons long press -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- used for setting ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>
