@import 'material-symbols/outlined.css';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "colors";

$custom-theme-colors: map-merge($theme-colors, ("primary": $primary-color,
      "secondary": $primary-color-dark,
    ));

$theme-colors: map-merge($theme-colors, $custom-theme-colors);


@import "~bootstrap/scss/_maps";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap.scss";

:root {
  --bs-link-hover-color: #ff7700;
}

@import "input-range";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
nav,
header,
footer {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// This sets all <h1>,...,<h6> elements with Material headline1,...,headline6 typography styles
// Check out the MDC Web documentation for how to use MDC Typography Sass mixins:
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography
body {
  background: $background;
  color: $text-color;
}

.navbar .form-group .form-control,
.navbar .form-group .input-group-btn button {
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
}

.navbar .form-group .form-control:focus {
  outline: none;
}


.borderless-card {
  border-bottom: none !important;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eee;
}

.card-heading {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.horizontal {
  display: flex;
  flex: 1 1 auto;
}

.vertical {
  flex-direction: column;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.flex-baseline {
  align-items: baseline;
}

.flex-center {
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.center-btn {
  justify-content: space-beetwen;
}

.navbar-brand {
  padding: 10px !important;
}

.list-group-item {
  border-bottom: 1px solid #eee;
}

.btn {
  border: none;
}

.btn>span.material-symbols-outlined {
  vertical-align: middle;
}