//Redefine grays
$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

$primary-color: #ff7700;
$primary-color-dark: #ff610a;
$background: #FFFFFF;
$light-gray: #f7f7f7;
$light-gray-dark: #333333;
$progress-background: rgba(247, 247, 247, 0.7);
$lighter-gray: #fafafa;
$gray-border: #eeeeee;
$gray-text: #555555;
$gray-text-dark: #aaaaaa;
$hover-gray: #ececec;
$dark-background: #333333;
$darker-background: #111111;
$progress-background-dark: rgba(8, 8, 8, 0.7);
$gray-overlay: #f7f7f7;
$text-color: #010101;