$primary-color: #ff7700;
$primary-color-dark: #ff610a;
$primary-extra-light: #fff3e0;
$background: #FFFFFF;
$light-grey: #f7f7f7;
$light-grey-transparent: rgba(247, 247, 247, 0.7);
$lighter-grey: #fafafa;
$grey-border: #eeeeee;
$grey-text: #555555;
$hover-grey: #ececec;
$dark-background: #333333;
$grey-overlay: #f7f7f7;
$text-color: #010101;