$primary-color: #ff7700;
$primary-color-dark: #ff610a;
$background: #FFFFFF;
$light-grey: #f7f7f7;
$lighter-grey: #fafafa;
$hover-grey: #ececec;
$dark-background: #333333;
$grey-overlay: #f7f7f7;
$text-color: #010101;