// Material Theming

@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

$mdc-typography-family: 'Fira Sans';
$mdc-theme-primary: #0a91ff;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-surface: #222222;
$mdc-theme--background: #222222;
$mdc-theme-on-surface: #ffffff;