<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.videolan.vlc" >

    <uses-sdk
        android:minSdkVersion="19" />

    <application
        android:name="org.videolan.vlc.VLCApplication" >
        <activity
            android:name="org.videolan.vlc.StartActivity"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- This filter captures protocols without type info -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtmp" />
                <data android:scheme="rtmpe" />
                <data android:scheme="rtmps" />
                <data android:scheme="rtp" />
                <data android:scheme="rtsp" />
                <data android:scheme="mms" />
                <data android:scheme="mmsh" />
                <data android:scheme="icyx" />
                <data android:scheme="httplive" />
                <data android:scheme="udp" />
                <data android:scheme="vlc" />
            </intent-filter>
            <!-- This filter captures protocols with type info -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="rtmp" />
                <data android:scheme="rtmpe" />
                <data android:scheme="rtmps" />
                <data android:scheme="rtp" />
                <data android:scheme="rtsp" />
                <data android:scheme="mms" />
                <data android:scheme="mmsh" />
                <data android:scheme="icyx" />
                <data android:scheme="httplive" />
                <data android:scheme="udp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="" />
                <data android:scheme="file" />
                <data android:scheme="ftp" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/rmvb" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="video/mkv" />
                <data android:mimeType="application/3gpp*" />
                <data android:mimeType="application/mp4" />
                <data android:mimeType="application/mpeg*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/vnd.3gp*" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/vnd.dvd*" />
                <data android:mimeType="application/vnd.dolby*" />
                <data android:mimeType="application/vnd.rn-realmedia*" />
                <data android:mimeType="application/x-iso9660-image" />
                <data android:mimeType="application/x-extension-mp4" />
                <data android:mimeType="application/x-flac" />
                <data android:mimeType="application/x-matroska" />
                <data android:mimeType="application/x-mpegURL" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/x-quicktimeplayer" />
                <data android:mimeType="application/x-shockwave-flash" />
                <data android:mimeType="application/xspf+xml" />
                <data android:mimeType="misc/ultravox" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="" />
                <data android:scheme="file" />
                <data android:scheme="ftp" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />

                <!-- video -->

                <data android:pathPattern=".*\\.3g2" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.3gp2" />
                <data android:pathPattern=".*\\.3gpp" />
                <data android:pathPattern=".*\\.amv" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.divx" />
                <data android:pathPattern=".*\\.drc" />
                <data android:pathPattern=".*\\.dv" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.gvi" />
                <data android:pathPattern=".*\\.gxf" />
                <data android:pathPattern=".*\\.ismv" />
                <data android:pathPattern=".*\\.iso" />
                <data android:pathPattern=".*\\.m1v" />
                <data android:pathPattern=".*\\.m2v" />
                <data android:pathPattern=".*\\.m2t" />
                <data android:pathPattern=".*\\.m2ts" />
                <!-- <data android:pathPattern=".*\\.m3u" /> -->
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.mp2" />
                <data android:pathPattern=".*\\.mp2v" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mp4v" />
                <data android:pathPattern=".*\\.m4v" />
                <data android:pathPattern=".*\\.mpe" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpeg1" />
                <data android:pathPattern=".*\\.mpeg2" />
                <data android:pathPattern=".*\\.mpeg4" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mpv2" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.mtv" />
                <data android:pathPattern=".*\\.mxf" />
                <data android:pathPattern=".*\\.mxg" />
                <data android:pathPattern=".*\\.nsv" />
                <data android:pathPattern=".*\\.nut" />
                <data android:pathPattern=".*\\.nuv" />
                <data android:pathPattern=".*\\.ogm" />
                <data android:pathPattern=".*\\.ogv" />
                <data android:pathPattern=".*\\.ogx" />
                <data android:pathPattern=".*\\.ps" />
                <data android:pathPattern=".*\\.rec" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.rmvb" />
                <data android:pathPattern=".*\\.tod" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tts" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.vro" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.wm" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.wtv" />
                <data android:pathPattern=".*\\.xesc" />

                <!-- audio -->

                <data android:pathPattern=".*\\.3ga" />
                <data android:pathPattern=".*\\.a52" />
                <data android:pathPattern=".*\\.aac" />
                <data android:pathPattern=".*\\.ac3" />
                <data android:pathPattern=".*\\.adt" />
                <data android:pathPattern=".*\\.adts" />
                <data android:pathPattern=".*\\.aif" />
                <data android:pathPattern=".*\\.aifc" />
                <data android:pathPattern=".*\\.aiff" />
                <data android:pathPattern=".*\\.amr" />
                <data android:pathPattern=".*\\.aob" />
                <data android:pathPattern=".*\\.ape" />
                <data android:pathPattern=".*\\.awb" />
                <data android:pathPattern=".*\\.caf" />
                <data android:pathPattern=".*\\.dts" />
                <data android:pathPattern=".*\\.flac" />
                <data android:pathPattern=".*\\.it" />
                <data android:pathPattern=".*\\.m4a" />
                <data android:pathPattern=".*\\.m4b" />
                <data android:pathPattern=".*\\.m4p" />
                <data android:pathPattern=".*\\.mid" />
                <data android:pathPattern=".*\\.mka" />
                <data android:pathPattern=".*\\.mlp" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\.mpa" />
                <data android:pathPattern=".*\\.mp1" />
                <data android:pathPattern=".*\\.mp2" />
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.mpc" />
                <data android:pathPattern=".*\\.mpga" />
                <data android:pathPattern=".*\\.oga" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\.oma" />
                <data android:pathPattern=".*\\.opus" />
                <data android:pathPattern=".*\\.ra" />
                <data android:pathPattern=".*\\.ram" />
                <data android:pathPattern=".*\\.rmi" />
                <data android:pathPattern=".*\\.s3m" />
                <data android:pathPattern=".*\\.spx" />
                <data android:pathPattern=".*\\.tta" />
                <data android:pathPattern=".*\\.voc" />
                <data android:pathPattern=".*\\.vqf" />
                <data android:pathPattern=".*\\.w64" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\.wma" />
                <data android:pathPattern=".*\\.wv" />
                <data android:pathPattern=".*\\.xa" />
                <data android:pathPattern=".*\\.xm" />
            </intent-filter>
        </activity>
    </application>
</manifest>
